<section class="footer_container">
  <div class="footer_background">
    <span class="textFooter">© 2020 | All Rights Reserved | Developed with </span>
    <a class="logo" id="logo">
      <svg class="svgLogo" width="14" height="12.88">
        <use href="/src/image/icons.svg#heart_footer_svg"></use>
      </svg>
    </a>
    <!-- Modal -->
    <a id="myBtn" href="javascript:void(0);">by GoIT Students</a>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>

        <ul class="student_list">
          <li>
            <img id="name" src="/src/image/obrazek-kurak.jpg" alt="Student" />
            <p>Name</p>
          </li>
          <li>
            <img id="name" src="/src/image/obrazek-kurak.jpg" alt="Student" />
            <p>Name</p>
          </li>
          <li>
            <img id="name" src="/src/image/obrazek-kurak.jpg" alt="Student" />
            <p>Name</p>
          </li>
          <li>
            <img id="name" src="/src/image/obrazek-kurak.jpg" alt="Student" />
            <p>Name</p>
          </li>
          <li>
            <img id="name" src="/src/image/obrazek-kurak.jpg" alt="Student" />
            <p>Name</p>
          </li>
          <li>
            <img id="name" src="/src/image/obrazek-kurak.jpg" alt="Student" />
            <p>Name</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
