<header class="container header">
    <div class="logoNavi">
        <div class="logo">
                <p>FILMOTEKA</p>
        </div>
        <navi class="navi">
            <a href="./index.html">Home</a>
            <a href="./partials/my-library.html">My Library</a>
        </navi>
    </div>
    <div>
        <form>
            <input type="Quary params">
            <button type="submit">"szukaj"</button>
        </form>
    </div>
    <div>
        <p>Nie wyszukano poprawnie</p>
    </div>
</header>

