<header class="container header">
  <div class="logoNavi">
    <div class="logo">
      <p>FILMOTEKA</p>
    </div>
    <navi class="navi">
      <a href="./index.html">Home</a>
      <a href="./partials/my-library.html">My Library</a>
    </navi>
  </div>
  <div>
    <form class="search-form" id="search-form">
      <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
      <button type="submit">Search films....</button>
    </form>
  </div>
  <div>
    <p>Nie wyszukano poprawnie</p>
  </div>
</header>
