<header class="container header">
    <div clsaa="headerSection">
        <a class="logo" id="logo">
            <svg class="svgLogo"></svg>
            <span class="textLogo">FILMOTEKA</span>
        </a>
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../partials/my-library.html">MY LIBRARY</a></li>
            <li><a href="">LOGIN</a></li>
        </ul>
        <ul>
            <li><button name="btnWatched" id= "btnWatched"></button>WATCHED</button></li>
            <li><button name="btmQueue" id="btmQueue">QUEUE</button></li>
        </ul> 
    </div>
</header>
