<script src="https://kit.fontawesome.com/79ef8c933c.js" crossorigin="anonymous"></script>

<section class="mobile-menu">
    <button class="mobile-nav-btn mobile-nav-open-btn">
        <i class="fas fa-bars"></i>
    </button>
    <div class="mobile-nav mobile-nav-black">
        <div class="mobile-nav mobile-nav-red">
            <div class="mobile-nav mobile-nav-white">
                <button class="mobile-nav-btn mobile-nav-close-btn">
                    <i class="fas fa-times"></i>
                </button>
                <p class="logo-text"><i class="fa-solid fa-film"></i> FILMOTEKA</p>
                <ul class="list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">My library</a></li>
                    <!-- <li>
                            <ul class="library-list">
                                <li><a href="#">Watched</a></li>
                                <li><a href="#">Queue</a></li>
                            </ul>
                        </li> -->
                    <li><a href="#">Sing In</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>