<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <div class="modal-content">
    <ul class="student-list">
      <li>
        <p class="team-member">Marta Tabor</p>
        <p class="team-member-function">Team Leader</p>
        <img src="#" alt="Student" />
      </li>
      
      <li>
        <p class="team-member"></p>Mariusz Fit</p>
        <p class="team-member-function">Scrum Master</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p class="team-member"></p>Michał Górnik</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p class="team-member"></p>Michał Momot</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p class="team-member"></p>Michał Wojtyś</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p class="team-member"></p>Monika Lis</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p class="team-member"></p>Mateusz Dobosz</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p class="team-member"></p>Szymon Paluch</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p class="team-member"></p>Mikołaj Białek</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p class="team-member"></p>Wiola Domańska</p>
        <img src="#" alt="Student" />
      </li>
    </ul>
  </div>
</div>