<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <div class="modal-content">
    <ul class="student-list">
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Marta Tabor</p>
          <p class="team-member-function">Team Leader</p>
        </div>
      </li>
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Mariusz Fit</p>
          <p class="team-member-function">Scrum Master</p>
        </div>
      </li>
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Michał Górnik</p>
        </div>
      </li>
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Michał Momot</p>
        </div>
      </li>
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Michał Wojtyś</p>
        </div>
      </li>
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Monika Lis</p>
        </div>
      </li>
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Mateusz Dobosz</p>
        </div>
      </li>
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Szymon Paluch</p>
        </div>
      </li>
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Mikołaj Białek</p>
        </div>
      </li>
      <li class="student">
        <img src="#" alt="Student" class="student-image" />
        <div class="student-info">
          <p class="team-member">Wiola Domańska</p>
        </div>
      </li>
    </ul>
  </div>
  