<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <div class="modal-content">
    <ul class="student-list">
      <li>
        <p>Name</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p>Name</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p>Name</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p>Name</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p>Name</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p>Name</p>
        <img src="#" alt="Student" />
      </li>
      <li>
        <p>Name</p>
        <img src="#" alt="Student" />
      </li>
    </ul>
  </div>
</div>
